@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */
#viewport {
  padding-left: 250px;
  transition: all 0.5s ease;
}

#viewport.active {
  padding-left: 0;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #37474F;
  transition: all 0.5s ease;
  overflow-y: auto;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar .nav {
  list-style-type: none;
  padding: 0;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  display: block;
  text-decoration: none;
}

#sidebar .nav a:hover {
  background: #455A64;
  color: #ECEFF1;
}

#sidebar .nav a i {
  margin-right: 16px;
}

.navbar-toggle {
  border: none;
  background: none !important;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.cartelFormularios {
  color: white;
  background-color: #263238;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0.9;
}

.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}
