*{
margin: 0;
padding: 0;

}


body{
 background-image: url(/img/enfermeraOjo.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 background-attachment: fixed;
}

.iconos{
    display: flex;
    justify-content: center;
    gap: 20px;
padding-bottom: 40px;

}

.fa-brands{

    size: 40px;
}