
     <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>MediWeb</h3>
              <p>
                Mendoza - Ciudad<br>
                MZ 5350,ARG<br><br>
                <strong>Telefono:</strong> 5496615 3451 450<br>
                <strong>Email:</strong> MediWeb@Gmail.com<br>
              </p>
            
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4> Links </h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">Sobre nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#FAQ">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Terminos del servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politica de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Miembros</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">Merino Martin | FRONT END</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">Christian Antognazza | BACK END </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">Dardo Uriel | BACK END</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">Adolfo Lujan | BACK END</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Mensajes</h4>
            <p>Mandenos un mensaje de consulta</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MediWeb</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- End Footer -->

