<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Cotización</title>
</head>
<body>
    <h1>Nueva Cotización</h1>
    <form th:action="@{/cotizaciones}" th:object="${cotizacion}" method="post">
        <label for="cliente">Cliente:</label>
        <select id="cliente" th:field="*{cliente.id}" required>
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre} + ' ' + ${cliente.apellido}"></option>
        </select><br>

        <label for="monto">Monto:</label>
        <input type="number" id="monto" th:field="*{monto}" required><br>
        
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" th:field="*{descripcion}" required><br>
        
        <label for="estado">Estado:</label>
        <select id="estado" th:field="*{estado}" required>
            <option th:each="estado : ${#lists.array('PENDIENTE', 'APROBADO', 'CANCELADO' , 'LISTO')}" th:value="${estado}" th:text="${estado}"></option>
        </select><br>
        
        <label for="encargado">Encargado:</label>
        <select id="encargado" th:field="*{encargado}" required>
            <option th:each="encargado : ${#lists.array('MARTIN','JEAN','MECANICO1','MECANICO2')}" th:value="${encargado}" th:text="${encargado}"></option>
        </select><br>
        
        <label for="formaPago">Forma de Pago:</label>
        <input type="text" id="formaPago" th:field="*{formaPago}" required><br>
        
        <button type="submit">Guardar Cotización</button>
    </form>
</body>
</html>
