<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente-detalle</title>
</head>
<body>

    <div th:replace="fragments/sidebar :: sidebar"></div>
    

    <h1>Detalle del Cliente</h1>
    <div>
        <h2>Datos del Cliente</h2>
        <p><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
        <p><strong>Apellido:</strong> <span th:text="${cliente.apellido}"></span></p>
        <p><strong>Teléfono:</strong> <span th:text="${cliente.telefono}"></span></p>
        <p><strong>Email:</strong> <span th:text="${cliente.mail}"></span></p>
    </div>
    <div>
        <h2>Autos del Cliente</h2>
        <div th:each="auto : ${cliente.autos}">
            <p><strong>Marca:</strong> <span th:text="${auto.marca}"></span></p>
            <p><strong>Modelo:</strong> <span th:text="${auto.modelo}"></span></p>
            <p><strong>Número VIN:</strong> <span th:text="${auto.numeroVin}"></span></p>
        </div>
    </div>
    <div>
        <h2>Historial de Cotizaciones</h2>
        <table>
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Encargado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cotizacion : ${cliente.cotizaciones}">
                    <td th:text="${cotizacion.descripcion}"></td>
                    <td th:text="${cotizacion.costo}"></td>
                    <td th:text="${cotizacion.estado}"></td>
                    <td th:text="${cotizacion.fecha}"></td>
                    <td th:text="${cotizacion.encargado}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/clientes-cotizaciones/lista">Volver a la lista</a>
</body>
</html>