<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente-detalle</title>
</head>
<body>

    <div th:replace="fragments/sidebar :: sidebar"></div>
    

    <h1>Detalle del Cliente</h1>
    <h2>Datos del Cliente</h2>
    <p>RUT: <span th:text="${cliente.rut}"></span></p>
    <p>Nombre: <span th:text="${cliente.nombre}"></span></p>
    <p>Apellido: <span th:text="${cliente.apellido}"></span></p>
    <p>Teléfono: <span th:text="${cliente.telefono}"></span></p>
    <p>Correo Electrónico: <span th:text="${cliente.mail}"></span></p>

    <h2>Autos del Cliente</h2>
    <table>
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Patente</th>
                <th>VIN</th>
                <th>Kilometraje</th>
                <th>Comentario</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="auto : ${autos}">
                <!-- <td th:text="${auto.modelo}"></td> -->
                <td th:text="${auto.marca}"></td>
                <td th:text="${auto.patente}"></td>
                <td th:text="${auto.vin}"></td>
                <td th:text="${auto.kilometraje}"></td>
                <td th:text="${auto.comentario}"></td>
                <td th:text="${auto.fechadeCreacion}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Cotizaciones del Cliente</h2>
    <table>
        <thead>
            <tr>
                <th>Monto</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Encargado</th>
                <th>Forma de Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cotizacion : ${cotizaciones}">
                <td th:text="${cotizacion.monto}"></td>
                <td th:text="${cotizacion.descripcion}"></td>
                <td th:text="${cotizacion.estado}"></td>
                <td th:text="${cotizacion.encargado}"></td>
                <td th:text="${cotizacion.formaPago}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <a href="/dashboard/panel">Volver a la lista</a>
</body>
</html>