<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${auto.idAuto == null} ? 'Registrar Nuevo Auto' : 'Editar Auto'"></title>
</head>
<body>
    <h1 th:text="${auto.idAuto == null} ? 'Registrar Nuevo Auto' : 'Editar Auto'"></h1>
    <form th:action="@{${auto.idAuto == null} ? '/autos/guardar' : '/autos/actualizar/{id}(id=${auto.idAuto})'}" th:object="${auto}" method="post">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" th:field="*{marca}" required/><br/>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" th:field="*{modelo}" required/><br/>

        <label for="comentraio">Año:</label>
        <input type="number" id="comentario" th:field="*{comentario}" required/><br/>

        <label for="cliente">Cliente:</label>
        <select id="cliente" th:field="*{cliente.idCliente}" required>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nombre} + ' ' + ${cliente.apellido}"></option>
        </select><br/>

        <button type="submit" th:text="${auto.idAuto == null} ? 'Registrar' : 'Actualizar'"></button>
    </form>
</body>
</html>