<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App EurtoSport Chile</title>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/tablaclientes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</head>
<body>
    
<main>
  <div id="viewport">
  <!-- Sidebar -->
  <div th:replace="fragments/sidebar :: sidebar"></div>
  
  

  <!-- CONTENIDO DASHBOARD -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="/dashboard/panel">Inicio</a></li>

        </ul>
      </div>
    </nav>
    <div class="container-fluid">

      
      <h1>Modificar Auto </h1>
      <p>
       Ingresa los Datos del Auto del cliente a modificar
        <code>---</code>.

        <a href="/clientes/nuevo"><button type="button" class="btn btn-primary btn-lg">Nueva Cotizacion</button></a>
    

         <!-- Container -->
<div class="container">

  <!-- Main Content-->
  <div class="masthead">
    

    
<!-- Contenido Tabla -->

    
    
        <h1>Datos</h1>
    <form th:action="@{/autos/editar/__${auto.idAuto}__}" th:object="${auto}" method="post">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" th:field="*{marca}" required/><br/>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" th:field="*{modelo}" required/><br/>

        <label for="comentraio">Comentarios/Servicio:</label>
        <input type="text" id="comentario" th:field="*{comentario}" required/><br/>

        <label for="cliente">Cliente:</label>
        <select id="cliente" th:field="*{cliente.idCliente}" required>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nombre} + ' ' + ${cliente.apellido}"></option>
        </select><br/>

        <button type="submit" th:text="${auto.idAuto == null} ? 'Registrar' : 'Actualizar'"></button>
    </form>
        
    
    </div>
  </div>
</div>
  </p>
    </div>
  </div>


</main>
<footer>
  <p> Cuyo Devs Derechos Reservados 2024</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/Tablaclientes.js"></script>
<script src="/js/3forms.js"></script>
</body>
</html>