<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App EuroSport Chile</title>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/tablaclientes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    

</head>
<body>
    
<main>
  <div id="viewport">
  <!-- Sidebar -->
  <div th:replace="fragments/sidebar :: sidebar"></div>

  <!-- CONTENIDO DASHBOARD -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">Inicio</a></li>

        </ul>
      </div>
    </nav>
    <div class="container-fluid">
<div class="cartelFormularios">
  <h4>LISTA DE COTIZACIONES </h4>
</div>

       <a href="/cotizaciones/nueva"> <button 
        type="button" class="btn btn-primary btn-lg">Nueva Cotizacion <img src="/img/plus.ico" alt="" width="15px"></button></a>
        <br><br>
        

        <!-- TABLA DE ULTIMOS CLIENTES  -->
         <!-- Container -->
<div class="container">

  <!-- Main Content-->
  <div class="masthead">
    
<input type="text" id="buscar" onkeyup="buscar()" placeholder="Buscar..." title="Empieza a escribir para buscar">
    
<!-- Contenido Tabla -->

    <div class="table-responsive">
      <table class="table" id="tabla" data-sort="table">
        <h1>Lista de Cotizaciones</h1>

      <tr>
        <th>ID</th>
        <th>Fecha</th>
            <th>Cliente</th>
            <th>Monto ($)</th> 
            <th>Descripción</th> 
            <th>Estado</th>
            <th>Encargado</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="cotizacion : ${cotizaciones}">
          <td th:text="${cotizacion.idCotizacion}"></td>
          <td th:text="${cotizacion.fecha}"></td>
            <td th:text="${cotizacion.cliente.nombre}"></td>
           <td th:text="${cotizacion.monto}"></td>
           <td th:text="${cotizacion.descripcion}"></td>
            <td th:text="${cotizacion.estado}"></td>
            <td th:text="${cotizacion.encargado}"></td>
            <td th:text="${cotizacion.categoria}"></td>
            <td>
                <a th:href="@{/cotizaciones/editar/{id}(id=${cotizacion.idCotizacion})}"class="btn btn-warning"><i class="zmdi zmdi-edit"></i></a>
                <a  onclick="return confirm('¿Estás seguro de que deseas eliminar esta Cotizacion?')" th:href="@{/cotizaciones/eliminar/{id}(id=${cotizacion.idCotizacion})}"class="btn btn-danger"><i class="zmdi zmdi-delete"></i></a>
            </td>
        </tr>
        
      </table>
  
    </div>
  </div>
</div>
  </p>
    </div>
  </div>
</div>


</main>
<footer>
  <p> Cuyo Devs Derechos Reservados 2024</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/Tablaclientes.js"></script>
</body>
</html>