<!DOCTYPE html>
<html lang="es">

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
<!--Aca Linkeamos Boostrap para Incluir algunos recursos! -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<!--Aca Linkeamos Font Awsome para Incluir algunos recursos! -->
<link rel="icon" href="/img/icono.png" type="image/svg+xml"> <!--  <-icono pestaña -->

<link rel="stylesheet" href="/dashProfUsu.css">
<link rel="stylesheet" href="/dashboard.css">
<link rel="stylesheet" href="/botonesAnimaciones.css">
<title>WebApp Salud</title>
</head>





<body>
  <!-- -----------------NAV BAR------------ -->
  <header>
    <nav th:replace="fragments/navbar :: nav"></nav>
  </header>
  <!-- ------------------------------------ -->
  <br>
  <br>
  <br>
  <!-- -----------------SideBar------------ -->
  <aside class="sidebar1">
    <div th:replace="fragments/sidebar :: sidebar"> </div>
  </aside>
  <!-- ------------------------------------- -->
  <br>
  <div th:replace="fragments/error :: mensajeError"></div>
  <br><br><br>
  <main>


    <center>
      <section class="paneladm">
        <h1 class="visually-hidden">Panel Administrativo</h1>

        <div class="px-4 py-5 my-5 text-center">

          <div th:if="${#strings.equals(#strings.trim(session.usuariosession.rol), 'MEDICO')}">
            <img th:src="@{/imagen/perfil1/__${session.usuariosession.matricula}__}" id="rotate-scale-up-vertical"
              alt="mdo" width="170" height="170" class="rounded-circle">
          </div>


          <div th:if="${#strings.equals(#strings.trim(session.usuariosession.rol), 'ADMIN')}">
            <img th:src="@{/imagen/perfil/__${session.usuariosession.dni}__}" id="rotate-scale-up-vertical" alt="mdo"
              width="170" height="170" class="rounded-circle">
          </div>

          <h1 class="display-5 fw-bold text-body-emphasis" th:text="'Bienvenido ' + ${session.usuariosession.nombre} + ${session.usuariosession.apellido}">
          </h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 textoadm">¡Bienvenido al Panel Administrativo!
              Aquí, en el sidebar izquierdo, tienes acceso a todas las acciones clave de la página: crear, modificar,
              listar y explorar. Nuestra interfaz es fácil de usar,
              y nuestro equipo de soporte está listo para ayudarte en cualquier momento. ¡Disfruta de todas las
              herramientas que necesitas para una experiencia excepcional!
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a
                th:href="@{/profesional/modificarPerfilProfesional/{matricula}(matricula=${session.usuariosession.matricula})}">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Editar Perfil</button></a>
              <a href="/turnos/profesional/listar_turnos"><button type="button" class="btn btn-success btn-lg px-4">Mis Turnos</button></a>
            </div>
          </div>
        </div>
      </section>
    </center>

    <section class=" text-center container">
      <div class="row mt-3">
        <div class="divVolver">
          <a th:href="@{/}" class="btn btn-warning my-2 botonVolver botones">Volver</a>
        </div>
      </div>
    </section>
    <!-- </section>                                               
              <div style="display: flex; gap: 10px;justify-content: center;">
                              <a th:href="@{/profesional/modificarPerfilProfesional/{matricula}(matricula=${session.usuariosession.matricula})}" class="btn btn-primary my-2 botonVolver botones" type="button">Modificar Usuario Profesional</a>
                              <a th:href="@{/admin/eliminado/{matricula}(matricula=${listaProfesional.matricula})}" class="btn btn-danger my-2 botonVolver botones" type="button"
                              onclick="return confirm('¿Estás seguro de que deseas borrar Tu cuenta?')">Eliminar Cuenta</a>
              </div> -->


    <!-- __${session.usuariosession.matricula}__ -->
    <!-- <div style="display: flex; gap: 10px;"> 
                                          <a href="/admin/listaUsuarios"><button type="button" class="btn btn-success btn-lg px-4">Pacientes</button></a>  
                                            <button class="w-100 btn btn-primary btn-lg"<a 
                                            th:href="@{/profesional/modificarPerfilProfesional/{matricula}(matricula=${session.usuariosession.matricula})}"></a>
                                            type="button">Modificar Datos de Profesional</button>
                                            <br>
                                            <button class="w-100 btn btn-danger btn-lg" href="/elimicarprofesional" type="button">Eliminar Usuario Profesional</button>
                                        </div> -->

    <!-- <td> <a th:href="@{/admin/modificarProfesional/{matricula}(matricula=${listaProfesional.matricula})}">
                                          <i class="fa-solid fa-user-pen" style="color: #396dc6;"></i> Modificar</td></a>
                      
                                      <td> <a th:href="@{/admin/eliminado/{matricula}(matricula=${listaProfesional.matricula})}"
                                          onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')"> 
                                          <i class="fa-solid fa-trash" style="color: #db1432;"></i> Eliminar</a> </td>
                                     -->


    <!-- -------------------------------------------------------------------------------------------------------------------------- -->


    <br>
    <br>
    <br>


  </main>
</body>

</html>